.Layout {
  flex: 1;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .Content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .Sider {
    width: 12.5rem;
    overflow: initial;
    background-color: @component-background;
  }
}