.ContentHeader {
    display: flex;
    align-items: center;
    height: @layout-header-height * 1.1;

    .nbsp {
        flex: 1;
    }
}

.logo{
    margin-top: -.15rem;
    font-size: @heading-4-size;
}

.title{
    margin-top: -.15rem;
    font-size: @heading-5-size;
}
