.LoginContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .cardWrap {
    flex:  1;
    display: flex;
    justify-content: center;
    align-items: center;

    .Card {
      width: 20rem;
      margin-top: 1rem;

      .Alert {
        background-color: #fff1f0;
        border: 1px solid #ffa39e;
        margin-bottom: 1.5rem;
      }
    }
  }

  .appDescription {
    height: 10rem;
    text-align: center;

    p {
      white-space: pre-wrap;
    }
  }
}

.FormItem {
  // margin-top: 0.5rem;

  input {
    border-radius: 0;
  }
}