.App {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.4);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0.3);
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 5px;
}

* {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.ant-menu-item,
.ant-menu-item-active,
.ant-menu-item-selected {
    border-bottom-width: 3px !important;
}

.ant-menu-horizontal {
    border-bottom: 1px solid fade(@border-color-base, 50%) !important;
}

.ant-layout-sider {
    border-right: 1px solid fade(@border-color-base, 50%) !important;
}

.ant-table-body{
    height: 100vh;
    display: flex;
    
    table{
        height: 0;
    }
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
    border-right: none !important;
}

.ant-form-item {
    margin-bottom: 7px !important;
}

.ant-tabs-top > .ant-tabs-nav {
    border-bottom: .75rem solid @white;
    margin: 0 !important;
}

.ant-tabs-content-holder {
    overflow: hidden;
    overflow-y: auto;
}

.ant-radio-group.ant-radio-group-outline {
    width: auto !important;
    display: flex;
    margin: 0 .5rem .5rem;

    .ant-radio-button-wrapper {
        flex: 1;
        text-align: center;
    }
}

.ant-collapse {

    .ant-collapse-header {
        background-color: @white;
        padding: .5rem 2.5rem .5rem !important;
    }
    
    .ant-collapse-content > .ant-collapse-content-box {
        padding: 1rem 1rem .5rem !important;
    }
    
    & > .ant-collapse-item > .ant-collapse-header {
        font-size: 110%;
        color: @primary-color;
    }
    
    &.ant-collapse-borderless {
        background-color: #ebebeb !important;
    }

}

.ant-form-vertical .ant-form-item-label {
    padding: 0 !important;
}
.ant-form-horizontal .ant-form-item-label {
    min-width: 120px;
}

.ant-page-header-heading-title {
    font-weight: normal !important;
}

.ant-tabs-nav-list {
    display: flex;
    width: 100% !important;
    margin: 0 .5rem;

    .ant-tabs-tab {
        flex: 1;
        opacity: .5;
        justify-content: center;
        //border-top: 3px solid transparent !important;
    }
    .ant-tabs-tab-active {
        opacity: 1;
        //border-top: 3px solid @primary-color !important;
    }
}