.Content {
  margin-top: 0.5rem;
  padding: 0 1rem;
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.label {
  color: gray;
  font-size: small;
}

.value {
  padding: 0.375rem 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}