.DivLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: Calc(100vh - 42.5em);
    margin-top: -1rem;

    > div {
        text-align: center;
    }
}

.DivLoading svg {
    background-size: contain;
    background-position: center -3rem;
    background-repeat: no-repeat;
    //animation-name: spin;
    //animation-duration: 1500ms;
    //animation-iteration-count: infinite;
    //animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.LoadingText {
    color: @disabled-color;
    margin-top: 5rem;
}