.SideContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 50%;
  border-right: 1px solid @border-color-base;

  .EditableQueryBox {
    border: solid 1px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: lightgray;
  }

  .Button {
    margin-top: 1rem;
  }

}